<!DOCTYPE html>

<html>
<head>
  <title>Cat</title>
</head>

<body>
	<h1><%=@cat.name%></h1>
	<ul>
	  <li>
			<%="Age: #{@cat.age}"%>
		</li>
	  <li>
			<%="Birth Date: #{@cat.birth_date}"%>
		</li>
	  <li>
			<%="Sex: #{@cat.sex}"%>
		</li>
	  <li>
			<%="Color: #{@cat.color}"%>
		</li>
	</ul>
</body>
</html>